html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	outline: 0;
	border: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

html,body{
	height:100%;
}


.ctrl{
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 350px;
  margin: auto;
  border: 1px solid #dcdcdc;
  background: #f2f2f2;
  background: -webkit-linear-gradient(90deg, #f2f2f2, #ffffff 2px, #f4f4f4 5px, rgba(255, 255, 255, 0.8) 67%);
  background: -moz-linear-gradient(90deg, #f2f2f2, #ffffff 2px, #f4f4f4 5px, rgba(255, 255, 255, 0.8) 67%);
  background: -o-linear-gradient(90deg, #f2f2f2, #ffffff 2px, #f4f4f4 5px, rgba(255, 255, 255, 0.8) 67%);
  background: -ms-linear-gradient(90deg, #f2f2f2, #ffffff 2px, #f4f4f4 5px, rgba(255, 255, 255, 0.8) 67%);
  background: linear-gradient(90deg, #f2f2f2, #ffffff 2px, #f4f4f4 5px, rgba(255, 255, 255, 0.8) 67%);
  -webkit-box-shadow: inset 0px 0px 3px #cdcdcd;
  -moz-box-shadow: inset 0px 0px 3px #cdcdcd;
  box-shadow: inset 0px 0px 3px #cdcdcd;
  -webkit-border-radius: 9px;
  -khtml-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.head{
	position:absolute;
	font-size:25px;
	top:40px;
	left:48px;
  border-bottom: 1px solid #ddd;
  font-family: 'Sansita One', cursive;
  text-shadow: 1px 1px #fff;
  -webkit-box-shadow: 0px 1px #ffffff;
  -moz-box-shadow: 0px 1px #ffffff;
  box-shadow: 0px 1px #ffffff;
}

.open{
	position: absolute;
	top: 124px;
	left: 61px;
	width: 130px;
	height: 55px;
	border: 1px solid #cfcfcf;
	background: #f8f8f8 no-repeat 0 4px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.close{
	position: absolute;
	top: 219px;
	right: 61px;
	width: 130px;
	height: 55px;
	border: 1px solid #cfcfcf;
	border-radius:5px;
	background: #f8f8f8 no-repeat 0 4px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
